* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar */
.nav-container {
  width: 100%;
  min-height: 8vh;
  background-color: #3B5249;
  box-shadow: 2px 2px 1px lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #e6ebe0;
  letter-spacing: 5px;
}
.link-container {
width: 60%;
display: flex;
justify-content: space-around;

}
.nav-item {
  font-family: "Roboto", sans-serif;
  color: #e6ebe0;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 3px;
  text-decoration: none;
}
.burger {
display: none;
cursor: pointer;
}
.burger div {
width: 27px;
height: 3px;
background-color: #e6ebe0;
margin: 7px 0px;
display: none;
}
@media only screen and (max-width: 768px) {
.link-container {
width: 40%;
z-index: 2;
}

}

@media only screen and (max-width: 768px) {
.burger {
  display: block;
}
.burger div {
  display: block;
}
.link-container {
  position: absolute;
  right: 0;
  height: 92vh;
  top: 8vh;
  background-color: #3B5249;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

/* .nav-item {
  opacity: 0;
} */
}

.nav-active {
transform: translate(0%);
}


/* Home page */
.hero-container {
display: flex;
height: 80vh;
justify-content: center;
align-items: center;
background-color: #BEC5AD;
}
.hero {
width: 100%;
height: 90%;
}
.hero img{
width: 100%;
height: 100%;
object-fit: cover;
}
.hero-text {
color: #e6ebe0;
position: absolute;
left: 50%;
bottom: 50%;
transform: translate(-50%, -50%);
font-size: 50px;
}
.info {
width: 100%;
height: 100vh;
display: flex;
}
.info-item {
width: 33%;
height: 100%;
display: flex;
flex-direction: column; 
justify-content: space-between;
}
.info-img {
width: 100%;
height: 50%;
object-fit: cover;
}


/* Login */
.login-container {
display: flex;
/* border: 1px dotted red; */
width: 100%;
height: 100vh;
}
.login-hero {
/* border: 1px dotted dodgerblue; */
width:60%;
height: 100%;
}
.login-hero img {
width: 100%;
height: 100%;
object-fit: cover;
}
.form-container {
border: 1px solid black;
height: 100%;
width: 100%;
}

form {
justify-content: space-around;
border: 1px solid lightgray;
border-radius: 10px;
width: 25%;
height:50%;
position: absolute;
right: 0;
transform: translate(-90%, 25%);
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}